* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*
font-family: 'Audiowide', cursive;
font-family: 'Saira Extra Condensed';
font-family: 'Saira';
*/
:root {
    --vDark: #003148;
    --dBlue: #00496c;
    --Blue: #007bb5;
    --colorProgress: #7bb500;
    --colorLevel: #d2a029;
    --vLight: #e5f1f7;
    --transition: .7s;
}

body {
    font-family: 'Saira Extra Condensed', sans-serif;
    background-color: #001824;
    color: var(--vLight);
}

.first {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(img/brain-creative-logic.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    animation: move 1.2s cubic-bezier(.44, 1.29, .61, 1.24) both;
}

@keyframes move {
    0% {
        transform: translate(150%, -50%)
    }

    100% {
        transform: translate(0)
    }
}

.moveUp {
    background-color: rgba(0, 24, 36, 0.133);
    flex-basis: 33%;
    animation: coverMove 2.7s .6s ease forwards;
}

.moveDown {
    background-color: rgba(0, 24, 36, 0.133);
    flex-basis: 33%;
    animation: coverMove 2.7s .6s ease forwards;
}

@keyframes coverMove {
    20% {
        flex-basis: 45%;
        background-color: #001824ff;
    }

    50% {
        flex-basis: 3%;
        background-color: #00182488;
    }

    100% {
        flex-basis: 33%;
        background-color: #00182455;
    }
}

main.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    margin: 0 auto;
    overflow: hidden;
}

p {
    font-family: 'Saira';
    font-size: 14px;
}

header.top {
    display: flex;
    flex-direction: column;
}

.topleft {
    position: relative;
    top: 0;
    left: -100%;
    flex-basis: 50vh;
    background-color: var(--dBlue);
    border: 10px solid var(--vDark);
    font-family: 'Saira Extra Condensed', sans-serif;
    transition: var(--transition);
}

.topleft.active {
    left: 0;
}

.name {
    position: absolute;
    top: 24px;
    left: 24px;
    font-family: 'Audiowide', sans-serif;
    font-size: 40px;
    line-height: 105%;
}

.aspTechBox {
    position: absolute;
    bottom: 24px;
    left: 24px;
}

.aspiration {
    margin-bottom: 12px;
    font-size: 16px;
}

.technology {
    line-height: 105%;
}

.topright {
    position: relative;
    top: 0;
    right: -100%;
    flex-basis: 50vh;
    border: 10px solid var(--vDark);
    background-color: var(--Blue);
    transition: var(--transition);
}

.topright.active {
    right: 0;
}

.topright img {
    position: absolute;
    top: 24px;
    right: 24px;
    height: 83%;
    max-height: 450px;
    border: 3px solid var(--vDark);
    border-radius: 3px;
}

article.content {
    display: flex;
    flex-direction: column;
}

h2 {
    font-family: 'Audiowide', sans-serif;
    font-size: 20px;
}

.content p {
    margin: 12px;
}

.content h3 {
    margin: 12px;
}

a {
    padding-left: 2px;
    padding-right: 5px;
    color: crimson;
    text-decoration: none;
    font-style: italic;
    transition: var(--transition);
}

a:hover {
    background-color: crimson;
    color: var(--vLight);
}

.left {
    padding: 24px;
    border: 10px solid var(--vDark);
    background-color: var(--vLight);
    color: var(--vDark);
}

.adres {
    transition: var(--transition);
    transform: translate(-100%);
}

.adres.active {
    transform: translate(0%);
}

.education {
    transition: var(--transition);
    transform: translate(-100%);
}

.education.active {
    transform: translate(0%);
}

.skills {
    transition: var(--transition);
    transform: translate(-100%);
}

.skills.active {
    transform: translate(0%);
}

.right {
    padding: 24px;
    border: 10px solid var(--vDark);
    background-color: var(--vLight);
    color: var(--vDark);
}

.future {
    transition: var(--transition);
    transform: translate(110%);
}

.future.active {
    transform: translate(0%);
}

.present {
    transition: var(--transition);
    transform: translate(110%);
}

.present.active {
    transform: translate(0%);
}

.past {
    transition: var(--transition);
    transform: translate(110%);
}

.past.active {
    transform: translate(0%);
}

.quote {
    color: transparent;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 105%;
    margin: 35px 23%;
    transition: var(--transition);
    cursor: default;
}

.quote.active {
    color: #dc143c;
}

.quote:hover {
    color: var(--vDark);
}

footer.bot p {
    text-align: center;
    padding: 12px;
}

@media (orientation: portrait) and (min-width: 400px) {
    .name {
        top: 36px;
        left: 36px;
        font-size: 60px;
    }

    .aspTechBox {
        bottom: 36px;
        left: 36px;
    }

    .aspiration {
        font-size: 20px;
    }

    .technology {
        font-size: 20px;
    }

    .topright img {
        top: 36px;
        right: 36px;
    }

    h2 {
        font-size: 22px;
    }

    p {
        font-size: 18px;
    }

    h3 {
        font-size: 18px;
    }

    .quote {
        font-size: 24px;
    }
}

@media (orientation: portrait) and (min-width: 600px) {
    .name {
        font-size: 74px;
    }

    .aspiration {
        font-size: 24px;
    }

    .technology {
        font-size: 24px;
    }

    h2 {
        font-size: 26px;
    }

    p {
        font-size: 22px;
    }

    h3 {
        font-size: 22px;
    }

    .quote {
        font-size: 28px;
    }
}

@media (orientation: portrait) and (min-width: 800px) {
    .name {
        font-size: 100px;
    }

    .aspiration {
        font-size: 48px;
    }

    .technology {
        font-size: 36px;
    }

    h2 {
        font-size: 34px;
    }

    p {
        font-size: 26px;
    }

    h3 {
        font-size: 26px;
    }

    .quote {
        font-size: 40px;
    }
}

@media (orientation: landscape) {
    header.top {
        flex-direction: row;
    }

    .topleft {
        flex-grow: 1;
        height: 100vh;
    }

    .name {
        position: absolute;
        top: 24px;
        left: 24px;
        font-size: 50px;
    }

    .aspTechBox {
        position: absolute;
        bottom: 24px;
        left: 24px;
    }

    .topright {
        flex-grow: 1;
    }

    .topright img {
        position: absolute;
        top: 24px;
        bottom: 24px;
        right: 24px;
    }

    .aspiration {
        font-size: 20px;
    }

    p {
        font-size: 18px;
    }

    h2 {
        font-size: 24px;
    }

    .content h3 {
        font-size: 18px;
    }
}

@media (orientation: landscape) and (min-width: 868px) {
    header.top {
        flex-direction: row;
    }

    .topleft {
        flex-grow: 0;
        height: 33vh;
        min-height: 250px;
        flex-basis: 341px;
    }

    .topright {
        flex-grow: 1;
        height: 33vh;
        min-height: 250px;
    }

    .topright img {
        top: 18px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    h3 {
        font-size: 16px;
    }

    .left {
        flex-grow: 0;
        flex-basis: 341px;
    }

    .right {
        flex-grow: 1;
    }

    article.content {
        flex-direction: row;
    }
}